@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";

}
<div class="headline buttons two primary">
    <h4>تغییر رمز عبور</h4>

</div>
<div class="form-box-item">
    <form asp-action="ChangePassword" method="post">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                کلمه عبور شما با موفقیت ویرایش شد
            </div>
        }

        <div class="input-container ">
            <label for="new_pwd" class="rl-label">رمز جدید</label>
            <input asp-for="Password" placeholder="رمز جدید را وارد کنید">
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
        <!-- /INPUT CONTAINER -->
        <!-- INPUT CONTAINER -->
        <div class="input-container ">
            <label class="rl-label">تکرار رمز جدید</label>
            <input asp-for="RePassword" placeholder="تکرار رمز جدید را وارد کنید">
            <span asp-validation-for="RePassword" class="text-danger"></span>
        </div>
        <button type="submit" class="button mid-short primary">ذخیره تغییرات</button>

        <div class="input-container"></div>
        <div class="input-container"></div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
