@model Season
@{
    ViewData["Title"] = "ویرایش سرفصل";

}

<div class="headline buttons two primary">
    <h4>ویرایش سرفصل  </h4>

</div>
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="SeasonId" />
        <input type="hidden" asp-for="ProductId" />
        <div class="col-md-12">
            <div class="panel panel-primary">


                <div class="panel-heading">
                    سرفصل
                </div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان سرفصل</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-10">
            <input class="btn btn-block btn-success" type="submit" value="ویرایش سرفصل" />

        </div>

    </form>
    <div class="col-md-2">
        <a class="btn btn-block btn-warning" href="/admin/productgroup">بازگشت به لیست سرفصل ها</a>
    </div>
</div>

