@model ProductGroup
@{
    ViewData["Title"] = "افزودن گروه جدید";
}

<div class="headline buttons two primary">
    <h4>افزودن گروه جدید </h4>

</div>
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="ParentId" />
        <div class="col-md-12">
            <div class="panel panel-primary">


                <div class="panel-heading">
                    گروه
                </div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان گروه</label>
                        <input asp-for="GroupTitle" class="form-control" />
                        <span asp-validation-for="GroupTitle" class="text-danger"></span>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-10">
            <input class="btn btn-block btn-success" type="submit" value="ثبت گروه" />

        </div>

    </form>
    <div class="col-md-2">
        <a class="btn btn-block btn-warning" href="/admin/productgroup">بازگشت به لیست گروه ها</a>
    </div>
</div>